{% extends "layout.html.twig" %}

{% block content %}
        <table width="100%">
          <thead>
            <tr>
              <th>Référence</th>
              <th>Primaire</th>
              <th>Secondaires</th>
              <th>Puissance</th>
              <th>Poids</th>
              <th>dimension</th>
              <th>description</th>
              <th>Prix</th>
            </tr>
          </thead>
          <tbody>
{% for transfo in transfo_pager.getCollection() %}
            <tr>
              <td>{{ transfo['ref'] }}</td>
              <td><ul><li>{{ transfo['pri'] }}</li></ul></td>
              <td>
                <ul>
                {% for winding in transfo['secs'] %}
                  <li>{{ winding }}</li>
                {% endfor %}
                </ul>
              </td>
              <td>{{ transfo['power'] }}W</td>
              <td>{{ transfo['weight'] }}Kg</td>
              <td>{{ transfo['dimension'] }}</td>
              <td>{{ transfo['hook_phrase'] }}</td>
              <td>{{ transfo['public_price'] }} €</td>
            </tr>
{% endfor %}
          </tbody>
        </table>
{% endblock %}
