{% extends "layout.html.twig" %}

{% block content %}
        <h1>Alimentation &amp; haute tension</h1>
        <p>Le transformateur est une des pièces essentielles de l'alimentation. Celle-ci est directement sollicitée par l'ensemble des étages au gré du signal audio et des diverses réactions qu'il engendre. Nos transformateurs sont issus d'une conception spécialement étudiée pour optimiser le rendement dans le cas des besoins audio et des alimentations des électroniques à tubes.</p>
        <hr />
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Référence</th>
              <th>Primaire</th>
              <th>Secondaires</th>
              <th>Puissance</th>
              <th>Dimension</th>
              <th>Hauteur</th>
              <th>Poids</th>
              <th>description</th>
            </tr>
          </thead>
          <tbody>
{% for transfo in transfo_pager.getCollection() %}
            <tr>
              <td>{{ transfo['ref'] }}</td>
              <td><ul><li>{{ transfo['pri'] }}</li></ul></td>
              <td>
                <ul>
                {% for winding in transfo['secs'] %}
                  <li>{{ winding }}</li>
                {% endfor %}
                </ul>
              </td>
              <td>{{ transfo['power'] }}W</td>
              <td>{{ transfo['dimension'] }}</td>
              <td>{{ transfo['height'] }}mm</td>
              <td>{{ transfo['weight'] }}Kg</td>
              <td>{{ transfo['hook_phrase'] }}</td>
            </tr>
{% endfor %}
          </tbody>
        </table>
{% endblock %}
