{% extends "layout.html.twig" %}

{% block content %}
        <h1>Selfs de filtrage</h1>
        <p>Description longue des selfs</p>
        <hr />
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Référence</th>
              <th>Tolérances</th>
              <th>Inductance</th>
              <th>Impédance</th>
              <th>Courant nominal</th>
              <th>Poids</th>
              <th>Dimension</th>
              <th>Hauteur</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
{% for transfo in transfo_pager.getIterator() %}
            <tr>
              <td>{{ transfo['ref'] }}</td>
              <td>{{ transfo['pri'].getTolerance() }}</td>
              <td>{{ transfo['inductance'] }}H</td>
              <td>{{ transfo['pri'].getImpedance() }}</td>
              <td>{{ transfo['pri_idc'] }}mA</td>
              <td>{{ transfo['weight'] }}Kg</td>
              <td>{{ transfo['dimension'] }}</td>
              <td>{{ transfo['height'] }}mm</td>
              <td>{{ transfo['hook_phrase'] }}</td>
            </tr>
{% endfor %}
          </tbody>
        </table>
{% endblock %}

